<div id="search">
	<% @user.searches.each do |search| %>
		<div id="searches" class="search_pic">
			<h3><a href="/search/<%= search.id %>"><img src="<%= search.image %>" /></a></h3>
			<a href="/search/<%= search.id %>"><%= search.name %></a>
		</div><!-- #searches -->
	<% end %>
	<div style="clear:both;"></div>
</div><!-- #search -->

