/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/**************************** GENERAL ****************************/

body {
	font-family: 'Gentium Basic', serif; font-weight: 400;
	background: #F2F2F2;
}

h2 {
	font-weight: 700;
	text-align: center;
}

h3 {
	font-weight: 700;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

li {
	list-style: none;
	float: left;
	padding: 20px;
}

a {
	text-decoration: none;
	color: black;
}

nav {
	height: 100px;
	padding: 10px 0 60px;
}

#logo {
	float: right;
	padding: 0 20px;
}

#search_bar {
	width: 130px;
}

/**************************** USER ****************************/

#search {
	width: 660px;
	height: 80%;
	margin: 0 auto;
	padding: 10px;
	font-weight: 700;
	text-shadow: -1px 0 #E5DCDA, 0 1px #E5DCDA, 1px 0 #E5DCDA, 0 -1px #E5DCDA;
}

#searches {
	width: 50px;
	height: 100px;
	padding: 40px;
	float: left;
	text-align: center;
}

.icon {
	width: 70px;
	margin: 30px auto;
	text-align: center;
}

/**************************** SEARCH ****************************/

.search_profile {
	width: 500px;
	height: 260px;
	margin: 0 auto;
	text-align: center;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
}

.search_pic img {
	width: 58px;
	height: 58px;
	margin: 30px auto 10px;
	padding: 5px;
	background-color: white;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

/**************************** TWEETS ****************************/

.tweet {
	line-height: 1.2em;
	width: 420px;
	margin: 0 auto;
	padding: 20px;
}